@import url('https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic');


body {
  height: 100vh;
  width: 100vw;
  font-family: 'Nunito', sans-serif;
}

.Nunito {
  font-family: 'Nunito', sans-serif;
}

.bg-color {
  background-color: #4D39BE;
}

.main-img {
  width: 250px;
}

.text-color {
  color: #4D39BE;
}

.a-color {
  color: #05F2C8;
}

.btn-gradient {
  background: linear-gradient(92.98deg, #4E5FFF 0%, #001AFF 94.98%);
}

.text-hover-color:hover {
  color: #4D39BE;
}